/* Coolors Exported Palette - coolors.co/ffffff-d3ab9e-eac9c1-fffbff-fedba3 */

$color1: #ffffff; //rgba(255, 255, 255, 100)
$color2: #d3ab9e; //rgba(211, 171, 158, 100)
$color3: #eac9c1; //rgba(234, 201, 193, 100)
$color4: #fffbff; //rgba(255, 251, 255, 100)
$color5: #fedba3; //rgba(254, 219, 163, 100)