/* Coolors Exported Palette - coolors.co/ffffff-dde0bd-d0d1ac-b6a39e-fedba3 */

$color1: #ffffff; //rgba(255, 255, 255, 100)
$color2: #dde0bd; //rgba(221, 224, 189, 100)
$color3: #d0d1ac; //rgba(208, 209, 172, 100)
$color4: #b6a39e; //rgba(182, 163, 158, 100)
$color5: #fedba3; //rgba(254, 219, 163, 100)