/* Coolors Exported Palette - coolors.co/ffffff-00a676-e0d0c1-a76d60-fedba3 */

$color1: #ffffff; //rgba(255, 255, 255, 100)
$color2: #00a676; //rgba(0, 166, 118, 100)
$color3: #e0d0c1; //rgba(224, 208, 193, 100)
$color4: #a76d60; //rgba(167, 109, 96, 100)
$color5: #fedba3; //rgba(254, 219, 163, 100)