@import "compass";
@import "compass/reset"; 
@import "susy";
@import "animate";
// @import "colors/palette6";
@import "_variables.scss";

// общие настройки wdtnf

$bg: #fedba3; // фон общий
$color: #5d1104; // текст
$link-color: $color; //
$h2-bg-line: $red; //
$portfolio-h2-bg-line:$yellow;
$header-bg: #ffd189; //

$nav-bg:#460a01;


// $slider-bg:#5d1104; 
 $slider-bg:#5d1104; 

$services-bg:#fff; //
$services-color: $color; //

$portfolio-bg: #D6A99A;
$portfolio-color: #fff; 

$order-bg: #fff;
$order-color:  $color;

$siz:16px ;
$base-font-size: $siz ;
$base-line-height: $siz * 1.5 ;
$rhythm-unit: "rem" !global;
$rem-with-px-fallback: true ;




@include establish-baseline; 

$susy: (
  flow: ltr, // сменить дефолтное навправление колонок, можно задавать переменной и менять для арабских сайтов
  math: fluid, // можно использовать static для неадаптивных сайтов (если вы такие еще делаете)
  output: float, // используйте outside для исправлениях некоторых багов
  gutter-position: after, // возможны разные варианты, например, before и inside
  container: 1200px, // укажите максимальную ширину в любых единицах, например, 60em
  container-position: center, // если вы хотите сделать не по центру, то можно использовать left и right
  columns: 3, // количество колонок
  gutters: .1, // ширина пробельчика для каждой колонки
  column-width: false, // ширина колонки задается только при math: static
  global-box-sizing: border-box, //content-box можно задать border-box, но иногда проще использовать border-box миксин из компаса
  last-flow: to, // последний элемент в ряду флоатится вправо, можно сменить
  debug: (
    image: show, // варианты: show | hide | show-columns | show-baseline для показа всех вариантов колонок и линеечек
    color: rgba(#66f, .25), // менять цвет у колонок
    output: overlay, //background есть еще вариант overlay, в котором колонки показываются только при наведении
    toggle: top right, // положение переключателя для показа оверлея
  ) //,
  // use-custom: ( // для каждого из них если включить true будут использоваться миксины из Compass или ваши собственные)
  //   background-image: false, // возможность использовать свой миксин background-image
  //   background-options: false, // разные background миксины
  //   box-sizing: false, // свой миксин box-sizing
  //   clearfix: false, // свой миксин clearfix
  //   rem: false, 
  // ) 
)  ;


