/* Coolors Exported Palette - coolors.co/e1ce7a-fbffb9-fdd692-ec7357-754f44 */

$color1: #e1ce7a; //rgba(225, 206, 122, 100)
$color2: #fbffb9; //rgba(251, 255, 185, 100)
$color3: #fdd692; //rgba(253, 214, 146, 100)
$color4: #ec7357; //rgba(236, 115, 87, 100)
$color5: #754f44; //rgba(117, 79, 68, 100)