/* Coolors Exported Palette - coolors.co/5d1104-de6c83-f7b2ad-ceb7b3-b7b7b7 */

$color1: #5d1104; //rgba(93, 17, 4, 100)
$color2: #de6c83; //rgba(222, 108, 131, 100)
$color3: #f7b2ad; //rgba(247, 178, 173, 100)
$color4: #ceb7b3; //rgba(206, 183, 179, 100)
$color5: #b7b7b7; //rgba(183, 183, 183, 100)