// /* Coolors Exported Palette - coolors.co/a20021-f52f57-f79d5c-f3752b-ededf4 */

$color1: #a20021; //rgba(162, 0, 33, 100)
$color2: #f52f57; //rgba(245, 47, 87, 100)
$color3: #f79d5c; //rgba(247, 157, 92, 100)
$color4: #f3752b; //rgba(243, 117, 43, 100)
$color5: #ededf4; //rgba(237, 237, 244, 100)