/* Coolors Exported Palette - coolors.co/df2935-86ba90-ffd189-f5f3bb-412722 */

$color1: #df2935; //rgba(223, 41, 53, 100)
$color2: #86ba90; //rgba(134, 186, 144, 100)
$color3: #ffd189; //rgba(255, 209, 137, 100)
$color4: #f5f3bb; //rgba(245, 243, 187, 100)
$color5: #412722; //rgba(65, 39, 34, 100)