/* Coolors Exported Palette - coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3 */

$color1: #cae7b9; //rgba(202, 231, 185, 100)
$color2: #f3de8a; //rgba(243, 222, 138, 100)
$color3: #eb9486; //rgba(235, 148, 134, 100)
$color4: #7e7f9a; //rgba(126, 127, 154, 100)
$color5: #97a7b3; //rgba(151, 167, 179, 100)