/* Coolors Exported Palette - coolors.co/5d1104-de6c83-f7b538-db7c26-d8572a */

$color1: #5d1104; //rgba(93, 17, 4, 100)
$color2: #de6c83; //rgba(222, 108, 131, 100)
$color3: #f7b538; //rgba(247, 181, 56, 100)
$color4: #db7c26; //rgba(219, 124, 38, 100)
$color5: #d8572a; //rgba(216, 87, 42, 100)