/* Coolors Exported Palette - coolors.co/5d1104-de6c83-cee0dc-b9cfd4-afaab9 */

$color1: #5d1104; //rgba(93, 17, 4, 100)
$color2: #de6c83; //rgba(222, 108, 131, 100)
$color3: #cee0dc; //rgba(206, 224, 220, 100)
$color4: #b9cfd4; //rgba(185, 207, 212, 100)
$color5: #afaab9; //rgba(175, 170, 185, 100)