/* Coolors Exported Palette - coolors.co/d3f8e2-e4c1f9-ffd189-f694c1-a9def9 */

$color1: #d3f8e2; //rgba(211, 248, 226, 100)
$color2: #e4c1f9; //rgba(228, 193, 249, 100)
$color3: #ffd189; //rgba(255, 209, 137, 100)
$color4: #f694c1; //rgba(246, 148, 193, 100)
$color5: #a9def9; //rgba(169, 222, 249, 100)