/* Coolors Exported Palette - coolors.co/bcf4f5-b4ebca-ffd189-d3fac7-ffb7c3 */

$color1: #bcf4f5; //rgba(188, 244, 245, 100)
$color2: #b4ebca; //rgba(180, 235, 202, 100)
$color3: #ffd189; //rgba(255, 209, 137, 100)
$color4: #d3fac7; //rgba(211, 250, 199, 100)
$color5: #ffb7c3; //rgba(255, 183, 195, 100)