/* Coolors Exported Palette - coolors.co/75b9be-a8ccc9-ffd189-b3d6c6-c7d66d */

$color1: #75b9be; //rgba(117, 185, 190, 100)
$color2: #a8ccc9; //rgba(168, 204, 201, 100)
$color3: #ffd189; //rgba(255, 209, 137, 100)
$color4: #b3d6c6; //rgba(179, 214, 198, 100)
$color5: #c7d66d; //rgba(199, 214, 109, 100)