/* Coolors Exported Palette - coolors.co/dd614a-f48668-ffd189-c5c392-73a580 */

$color1: #dd614a; //rgba(221, 97, 74, 100)
$color2: #f48668; //rgba(244, 134, 104, 100)
$color3: #ffd189; //rgba(255, 209, 137, 100)
$color4: #c5c392; //rgba(197, 195, 146, 100)
$color5: #73a580; //rgba(115, 165, 128, 100)