/* Coolors Exported Palette - coolors.co/5d1104-de6c83-8ec995-f9d6e4-f35b92 */

$color1: #5d1104; //rgba(93, 17, 4, 100)
$color2: #de6c83; //rgba(222, 108, 131, 100)
$color3: #8ec995; //rgba(142, 201, 149, 100)
$color4: #f9d6e4; //rgba(249, 214, 228, 100)
$color5: #f35b92; //rgba(243, 91, 146, 100)