/* Coolors Exported Palette - coolors.co/9f7e69-f2efc7-ffd189-f7ffe0-ffeee2 */

$color1: #9f7e69; //rgba(159, 126, 105, 100)
$color2: #f2efc7; //rgba(242, 239, 199, 100)
$color3: #ffd189; //rgba(255, 209, 137, 100)
$color4: #f7ffe0; //rgba(247, 255, 224, 100)
$color5: #ffeee2; //rgba(255, 238, 226, 100)