/* Coolors Exported Palette - coolors.co/5d1104-de6c83-88a2aa-ada296-e2856e */

$color1: #5d1104; //rgba(93, 17, 4, 100)
$color2: #de6c83; //rgba(222, 108, 131, 100)
$color3: #88a2aa; //rgba(136, 162, 170, 100)
$color4: #ada296; //rgba(173, 162, 150, 100)
$color5: #e2856e; //rgba(226, 133, 110, 100)